---
title: Le Wagon - Middleman Homepage
---

<div id="home">
  <div class="home-content">
    <p class="about">
      <%= link_to "More about this template", "about.html" %>
    </p>
  </div>
    <%= partial "partials/banner"%>
    <%= partial "partials/cards"%>
</div>
